extends layouts/default

block content
  include includes/header

  .container
    .row
      .col-md-3.col-md-offset-9
        form#search
          .form-group.has-feedback
            input.form-control(type='text' placeholder='Cari')
            i.glyphicon.glyphicon-search.form-control-feedback
      .col-md-8.col-md-offset-2
        h2 Selamat datang di Mandiri internet, Niko Alhakim
        p Anda terakhir masuk pada 1 Desember 2016 pukul 00:00
        p Anda terakhir keluar pada 1 Desember 2016 pukul 00:00

        .col-md-6
          .well(data-toggle='modal' data-target='#aktivitas-transaksi')
            h3.text-center Lihat Aktivitas Transaksi
        .col-md-6
          .well(data-toggle='modal' data-target='#transaksi-favorit')
            h3.text-center Transaksi Favorit

  .modal.fade#aktivitas-transaksi
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span &times;
          h4.modal-title Aktivitas Transaksi
        .modal-body
          form.form-horizontal
            .form-group
              .col-md-6
                .input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                  input.form-control(type='text' placeholder='Waktu awal')
              .col-md-6
                .input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                  input.form-control(type='text' placeholder='Waktu akhir')

            .form-group
              .col-md-6
                select.form-control
                  option Jenis Transaksi...
                  option Online
                  option Offline
                  option Ngasal

              .col-md-6
                a.btn.btn-primary#table-trigger Lihat

          table.table.table-bordered.table-striped.table-hover#table-triggered(style='display: none;')
            tr
              th Waktu
              th Aktivitas
              th Jumlah
              th Status<br>No Bukti
            tr
              td 2 Desember 2016 13:00
              td Transfer Rekening Mandiri<br>23123123123<br>a/n Wiratmika
              td Rp 100.000
              td Berhasil 72ff493f
            tr
              td 2 Desember 2016 13:00
              td Transfer Rekening Mandiri<br>23123123123<br>a/n Wiratmika
              td Rp 100.000
              td Berhasil 72ff493f
            tr
              td 2 Desember 2016 13:00
              td Transfer Rekening Mandiri<br>23123123123<br>a/n Wiratmika
              td Rp 100.000
              td Berhasil 72ff493f
            tr
              td 2 Desember 2016 13:00
              td Transfer Rekening Mandiri<br>23123123123<br>a/n Wiratmika
              td Rp 100.000
              td Berhasil 72ff493f
            tr
              td 2 Desember 2016 13:00
              td Transfer Rekening Mandiri<br>23123123123<br>a/n Wiratmika
              td Rp 100.000
              td Berhasil 72ff493f

  .modal.fade#transaksi-favorit
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span &times;
          h4.modal-title Transaksi Favorit
        .modal-body
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
          .row
            .col-md-8
              p Transfer ke Mandiri - Ibu - 423798476238
            .col-md-4
              a.btn.btn-success.btn-sm Lakukan
        .modal-footer
          button.btn.btn-primary Ubah
