extends layouts/default

block content
  include includes/header

  .container
    .row
      .col-md-8.col-md-offset-2
        ol.breadcrumb
          li: a(href='/dashboard.html') Beranda
          li: a(href='#') Transaksi
          li.active Pembayaran Finansial

        div
          ul.nav.nav-tabs
            li.active: a(href='#cc' data-toggle='tab') Kartu Kredit
            li: a(href='#tax' data-toggle='tab') Pajak
            li: a(href='#installment' data-toggle='tab') Angsuran
            li: a(href='#insurance' data-toggle='tab') Asuransi

          .tab-content
            .tab-pane.active#cc
              form.form-horizontal
                .form-group
                  label.col-md-3.control-label Dari Rekening
                  .col-md-9
                    select.form-control
                      option Rekening Utama (00000000)

                .form-group
                  label.col-md-3.control-label Nama Bank
                  .col-md-9
                    select.form-control
                      option Bank Kota
                      option Bank Desa

                .form-group
                  label.col-md-3.control-label Nomor Kartu
                  .col-md-9
                    input.form-control.cc(type='text' placeholder='5401 xxxx xxxx xxxx')

                .form-group
                  label.col-md-3.control-label Jumlah
                  .col-md-9
                    input.form-control.currency(type='text')

                .form-group
                  .col-md-offset-3.col-md-9
                    .checkbox
                      label
                        input(type='checkbox')
                        | Simpan ke transaksi favorit

                .form-group
                  .col-md-3
                    span.glyphicon.glyphicon-info-sign(data-toggle='tooltip' data-placement='bottom' title='Keterangan: Berikut merupakan suatu keterangan hehe')
                  .col-md-9
                    .button-transaction
                      a.btn.btn-danger(href='/financial.html') Batal
                      a.btn.btn-success(data-toggle='modal' data-target='#token') Lanjutkan

            .tab-pane#tax
            .tab-pane#installment
            .tab-pane#insurance

  .modal.fade#token
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span &times;
          h4.modal-title Masukkan Token
        .modal-body.form-horizontal
          form
            .form-group
              label.col-md-4.control-label Token Internet Banking
              .col-md-8
                input.form-control(type='text')
            .form-group
              .col-md-8.col-md-offset-4
                a.btn.btn-primary(data-dismiss='modal' data-toggle='modal' data-target='#transaksi-berhasil') Kirim

  .modal.fade#transaksi-berhasil
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span &times;
          h4.modal-title Transaksi Favorit
        .modal-body
          h3.text-center Transfer
          h2.text-center BERHASIL
          h3.text-center Diproses
        .modal-footer
          a.btn.btn-default(href='/dashboard.html') Kembali ke Beranda
