extends layouts/default

block content
  include includes/header

  .container
    .row
      .col-md-8.col-md-offset-2
        ol.breadcrumb
          li: a(href='/dashboard.html') Beranda
          li: a(href='/transfer.html') Transfer
          li.active Transfer Antar Rekening Mandiri

        form.form-horizontal
          .form-group
            label.col-md-3.control-label Dari Rekening
            .col-md-9
              select.form-control
                option Rekening Utama (00000000)

          .form-group
            label.col-md-3.control-label Jumlah
            .col-md-9
              input.form-control.currency(type='text' placeholder='Nominal')
              span.help-block dalam mata uang rekening tujuan

          .form-group
            label.col-md-3.control-label Berita
            .col-md-9
              input.form-control(type='text' placeholder='Berita')

          .form-group
            label.col-md-3.control-label Email Penerima
            .col-md-9
              input.form-control(type='email' placeholder='Email penerima')

          h4 Rekening Penerima
          .form-group
            .radio.col-md-3
              label.control-label
                input(type='radio' value='langsung' name='receiver' checked)
                | Nomor rekening
            .receiver-options.langsung-options
              .col-md-6
                input.form-control(placeholder='Nomor Rekening')
              .col-md-3
                input.form-control(placeholder='Keterangan')
                .checkbox
                  label
                    input(type='checkbox')
                    | Simpan

          .form-group
            .radio.col-md-3
              label.control-label
                input(type='radio' value='daftar' name='receiver')
                | Dari Daftar Transfer
            .receiver-options.daftar-options
              .col-md-9
                select.form-control
                  option Rekening Ibu (00000001)
                  option Rekening Sekunder (00000002)

          h4 Opsi Transfer
          .form-group
            .radio.col-md-3
              label.control-label
                input(type='radio' name='transfer-type' value='sekarang' checked)
                | Sekarang
            .transfer-options.sekarang-options
              .col-md-9
                p.form-control-static 2 Desember 2016

          .form-group
            .radio.col-md-3
              label.control-label
                input(type='radio' value='terjadwal' name='transfer-type')
                | Terjadwal
            .transfer-options.terjadwal-options
              .col-md-9
                .input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                  input.form-control(type='text')

          .form-group
            .radio.col-md-3
              label.control-label
                input(type='radio' value='berkala' name='transfer-type')
                | Berkala
            .transfer-options.berkala-options
              .col-md-9
                .col-md-1
                  p.form-control-static Setiap
                .col-md-4
                  input.form-control(type='text')
                .col-md-5
                  select.form-control
                    option Hari
                    option Minggu
                    option Bulan

          .transfer-options.berkala-options
            .form-group
              label.col-md-3.control-label
                p Tanggal Transfer Pertama
              .col-md-9
                .input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                  input.form-control(type='text')

            .form-group
              label.col-md-3.control-label
                p Tanggal Transfer Terakhir
              .col-md-9
                .input-group
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
                  input.form-control(type='text')

            .form-group
              .col-md-offset-3.col-md-9
                .button-transaction
                  a.btn.btn-danger(href='/transfer.html') Batal
                  a.btn.btn-success(data-toggle='modal' data-target='#token') Lanjutkan

  .modal.fade#token
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal')
            span &times;
          h4.modal-title Masukkan Token
        .modal-body.form-horizontal
          form
            .form-group
              label.col-md-4.control-label Token Internet Banking
              .col-md-8
                input.form-control(type='text')
            .form-group
              .col-md-8.col-md-offset-4
                a.btn.btn-primary(href='/transfer-success.html') Kirim
